body {
    background-color: white;
  }
  
  article {
    color: purple;
  }
  
  .container {
    margin-left: 8%;
    margin-top: 12%;
  }
  
  .container img {
    border-radius: 50%;
    border: 3px solid #0C2D48;
    width: 25%;
    margin: 20px;
    position: absolute;
    top: 20%;
    right: 18%;
  }
  
  .container h1 {
    font-family: 'PT Serif', 'PT', 'Arial', sans-serif;
    font-size: 4rem;
    color: #2E8BC0;
    margin-bottom: 20px;
  }
  
  .container p {
    font-family: 'PT', 'Arial', sans-serif;
    color: #0C2D48;
    font-size: 2rem;
    margin-right: 30px;
  }
  