body {
    background-color: white;
  }
  
  article {
    color: purple;
  }
  
  .container {
    margin-left: 8%;
    margin-top: 6%;
    display: flex;
    align-items: center;
  }

  .inner-container {
    width: 60%;
  }

  .container img {
    border-radius: 50%;
    border: 3px solid #0C2D48;
    width: 25%;
  }
  
  .container h1 {
    font-family: 'PT Serif', 'PT', 'Arial', sans-serif;
    font-size: 4rem;
    color: #2E8BC0;
    margin-bottom: 20px;
  }
  
  .container p {
    font-family: 'PT', 'Arial', sans-serif;
    color: #0C2D48;
    font-size: 2rem;
    margin-right: 30px;
  }

  /* tablet styling */

  @media (max-width: 810px) {
    .container {
      flex-direction: column;
      justify-content: column;
      margin-left: 0%;
      margin-top: 0.5%;
      padding: 8rem 0;
      text-align: center;
    }

    .container h1 {
      font-size: 3rem;
      justify-content: center;
      text-align: center;
    }
    .container p {
      font-size: 1.42rem;
      text-align: center;
    }

    .container img {
      width: 50%;
      margin-top: 3rem;
    }
  }

  /* mobile styling */

  @media (max-width: 480px) {
  
    .container {
      margin-left: 0%;
      margin-top: 0%;
      display: flex;
      align-items: center;
    }
  .container img {
  width: 60%;
  margin-top: 2.5rem;
  }

  .container p {
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
  }
  .container h1 {
    font-size: 1.7rem;
  }
  }